%div.w-50.vh-100.fl
  %div.fl.w-50.bg-maroon.h-100
  %div.w-50.h-100.bg-dark-blue.fl
  %div.center.mw6.mv4.relative{style: "bottom:500px"}= link_to image_tag "messi.jpg", class: 'dib mw6 tc black link dim h-100 w-100'
/ %div.w-50.bg-white.vh-100.fl
/   %div.w-100.h-100.bg-white.center.mw6.ba.b--black-10.mv4
/     %div= link_to image_tag "ronaldo.jpeg", class: 'dib mw6 tc black link dim h-100 w-100'
/     :javascript
/       $('a').on('click', function(e) {
/         e.preventDefault();
/         alert("No you idiot, Messi is the best")
/       })